.container {
  max-width: 120rem; //100% width if less than
  min-height: 50rem; //Use until content fills area
  margin: 8rem auto; //center container
  background-color: var(--color-grey--light-1);
  box-shadow: var(--shadow-dark);
}

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--color-grey--light-2);
  font-size: 1.4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-grey--dark-1);
  flex: 0 0 18%; //set width

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  height: 80rem; //Testing Purposes (remove when added content)

  flex: 1; //grow to fill remaining space
}
